<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="tests/config.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd" cacheDirectory=".phpunit.cache">
   <php>
    <env name="KERNEL_CLASS" value="App\Kernel"/>
    <env name="DATABASE_URL" value="sqlite:///%kernel.project_dir%/var/test.db"/>
  </php>
  <coverage>
    <report>
      <clover outputFile="docs/coverage.clover"/>
      <html outputDirectory="docs/coverage" lowUpperBound="35" highLowerBound="70"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="all">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <logging/>
  <source>
    <include>
        <directory suffix=".php">src/Card</directory>
        <directory suffix=".php">src/Entity</directory>
        <directory suffix=".php">src/Service</directory>
    </include>
  </source>
</phpunit>