{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}

<article class="article max800">

    <div>
        <ul>
            {% for product in products %}
            <li>{{ product.getName|e }} ({{ product.getId|e }}) {{ product.getValue|e }}</li>
            {% endfor %}
        </ul>

    </div>

</article>

{% endblock %}