
html {
    font-family: Arial, sans-serif;
}

body {
    background-color: lightgray;
}

main {
    margin: 0 auto;
    max-width: 800px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.two-col-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
}

.aside {
    padding-left: 2em;
    padding-right: 1em;
}

nav {
    text-align: center;
    padding-bottom: 1.5rem;
    border-bottom: 2px solid;
}

nav ul {

}

nav li {
    display: inline;
    padding: 1rem;
}

nav a {
    color: #212121;
    text-decoration: none;
    font-size: 1.5rem;
}

nav li:hover {
    background-color: #adadad;
    border-radius: 10px;
    
}

h1 {
    font-size: 2em;
    border-bottom: 4px double;
}

.article {
    overflow: auto;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    min-height: 20em;
}

.figure.right {
    float: right;
    margin-left: 1em;
}

.figure {
    display: inline-block;
    margin: 0;
    padding: 0.5em;
}

.figure img {
    max-width: 100%;
    border: #aaa;
}

footer {
    text-align: center;
}

.lucky {
    background-color: #BC8593;
    padding: 2rem;
    padding-bottom: 0;
}

.lucky p {
    background-image: linear-gradient(to left, indigo, blue, green, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5em;
    text-align: center;
    font-family: 'Titan One', cursive;
    margin: 0;
    transform: rotate(5deg);
}

.lucky img {
    text-align: center;
    width: 100%;
}