@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
$color-accent: rgb(214, 172, 35);
$color-accent-dark: rgb(185, 148, 24);
$color-accent-dark2: rgba(185, 147, 24, 0.48);
$color-accent-light: rgb(238, 208, 110);
$color-brown: #0d2324;
$color-green: rgb(6, 71, 52);
$color-blue: rgb(21, 57, 110);
$color-blue-dark: rgb(20, 42, 70);

$title-color: #f9fafb;
$body-text-color: #ccc;
$muted-text-color: #aaa;
$text-primary-dark: #333;
$text-link: $color-accent-light;

$bg: $color-brown;
$bg2: $color-green;
$bg3: #323232;

.project {
    font-family: "Inter", sans-serif;

    .container {
        max-width: none !important;
    }

    background-color: $bg2;

    button,
    .button {
        color: $text-primary-dark;
        background-color: $color-accent;
        border-radius: 1rem;

        &:hover {
            background-color: $color-accent-dark;
        }
    }

    nav {
        li {
            a {
                color: $body-text-color;
                &:hover {
                    background-color: $bg;
                    text-decoration: underline;
                }
            }
        }
    }

    nav,
    footer {
        background-color: $bg;
        background-size: cover;
        background-position: center;
    }

    .footer-row {
        h2 {
            border-bottom: 2px double $color-accent;
        }
    }

    a {
        color: $text-link;
    }
}

.number-of-hands {
    width: 6rem;
}

.players {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.player {
    text-align: center;
    flex: 1;
    border: 2px solid $color-accent;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    min-width: 200px;
}

.player .container-cards {
    gap: 0.5rem !important;
}

.player .card {
    width: 40px !important;
    height: 60px !important;
}

.player .actions {
    display: flex;
    justify-content: center;
    gap: 0.5rem;

    .button {
        width: 6rem;
        margin: 0;
    }
}

.player-info {
    padding-bottom: 1rem;
}

.dealer {
    min-height: 10vh;
    padding-bottom: 2rem;
    text-align: center;
}

.end-actions {
    text-align: center;

    form {
        display: inline-block;
    }

    .button {
        width: 6rem;
        margin: 0;
    }
}

.blackjack {
    form {
        max-width: 500px;
        margin: 0 auto;
    }
}

.bet-form {
    text-align: center;
    display: inline-block;
}

.bet-input {
    width: 6rem;
    font-size: 1.25rem;
}
