@import "project";

$color-accent: #9c82a1;
$color-accent-dark: #9c82a1a6;
$color-accent-light: rgb(175, 153, 180);

$title-color: #f9fafb;
$body-text-color: #ccc;
$muted-text-color: #aaa;
$text-primary-dark: #020202;
$text-link: $color-accent-light;

$bg: #171717;
$bg2: #212121;
$bg3: #323232;

html,
body {
    font-family: "Roboto", sans-serif;
    background-color: $bg2;
    color: $body-text-color;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

img {
    border-radius: 1rem;
    margin-bottom: 1rem;
}

body {
    margin: 0;
}

li {
    padding-bottom: 0.5rem;
}

h1,
h2,
h3 {
    color: $title-color;
    margin-bottom: 1rem;
}

p,
button,
a {
    margin-bottom: 1rem;
}

button, .button {
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    text-align: center;
    color: $text-primary-dark;
    background-color: $color-accent;
    border: none;
    border-radius: 0.5rem;
    transition: background-color 0.5s;
    &:hover {
        background-color: $color-accent-dark;
    }
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2em;
}
th,
td {
    padding: 1em;
    text-align: left;
    border-bottom: 1px solid $muted-text-color;
}
th {
    background-color: $bg;
    color: $body-text-color;
    font-size: 1.125rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input,
select,
textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    background-color: $bg3;
    color: $body-text-color;
    font-size: 1rem;
    border: 1px solid $muted-text-color;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    padding: 3rem 2rem;
    margin: 0 auto;
}

@media (max-width: 800px) {
    .container {
        padding: 2rem 1rem;
    }
}

.text-container {
    max-width: 800px;
    margin: 0 auto;
}

.container-doc {
    h3 {
        text-align: center;
    }
}

h1 {
    text-align: center;
    color: $title-color;
}

a {
    color: $text-link;
}


.button-big {
    border-radius: 10px;
    font-size: 2rem;
    padding: 20px 30px;
}

nav {
    text-align: center;
    background-color: $bg;
    list-style-type: none;
    padding: 1.5rem;
    ul {
        padding: 0;
        margin: 0;
    }
    li {
        display: inline;
        a {
            padding: 0.5rem 1rem;
            color: $body-text-color;
            text-decoration: none;
            font-size: 1.5rem;
            font-family: "Lato", sans-serif;
            font-weight: 600;
            border-radius: 10px;
            transition: background-color 0.5s;
            &:hover {
                background-color: $color-accent-dark;
            }
        }
    }
}

footer {
    background-color: $bg;
    padding: 1.5rem;
    margin-top: auto;
    p {
        text-align: center;
        color: $body-text-color;
    }
}

.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    max-width: 1000px;
    margin: 0 auto;
    h2 {
        font-size: 1.2rem;
        border-bottom: 2px double $color-accent;
        font-family: Arial, sans-serif;
    }
    ul {
        padding-left: 1rem;
    }
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
            color: #414141;
        }
    }
}

.two-col-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1000px;
    .col {
        margin: 1rem;
    }
}

@media (max-width: 800px) {
    .two-col-layout {
        flex-direction: column;
    }
}

.aside {
    margin: 0 2rem;
}

.figure {
    display: inline-block;
    margin: 0;
    padding: 0.5em;
    img {
        max-width: 100%;
        border: #aaa;
    }
}

figure.right {
    float: right;
    margin-left: 1em;
}

.lucky {
    background-color: #bc8593;
    padding: 2rem;
    padding-bottom: 0;
    border-radius: 3rem;
    h1,
    p {
        color: $text-primary-dark;
    }
    p {
        font-size: 5em;
        text-align: center;
        font-family: "Titan One", cursive;
        margin: 0;
        transform: rotate(-5deg);
    }
    img {
        width: 100%;
    }
}

.blackjack-btns {
    a {
        margin-top: 0;
    }
}

.api_link {
    background-color: $bg;
    text-decoration: none;
    color: $body-text-color;
    margin: 1em;
    display: inline-block;
    vertical-align: bottom;
    width: 250px;
    height: 200px;
    border-radius: 2rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    p {
        padding: 0 1rem;
    }
    &:hover {
        box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

.container-cards {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1rem;
    .card {
        background-color: $body-text-color;
        color: $text-primary-dark;
        margin: 0.3em;
        display: inline-block;
        width: 90px;
        height: 130px;
        border-radius: 5px;
        box-shadow: 5px 5px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    h1 {
        align-items: center;
        border-bottom: none;
    }
}

.player-hands {
    background-color: $bg3;
    padding: 1rem;

}
