 $backgroundNavbar: #171717;
 $backgroundFooter: #171717;
 $background: #212121;
 $secondaryBackground: #9c82a1a6;
 $accent: #9c82a1;
 $textColor: #ccc;
 $textColor2: #aaa;
$textColorDark: #333;

html {
    font-family: "Roboto", sans-serif;
    background-color: $background;
    color: $textColor;
}

body {
    margin: 0;
}

main {
    margin: 0 auto;
    margin-top: 2em;
    padding-bottom: 2em;
    max-width: 1000px;
    min-height: 400px;
}

h1 {
    text-align: center;
    color: $textColor;
}

a {
    color: $textColor2;
}

.button {
    margin: 1rem;
    font-weight: 600;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: $textColorDark;
    background-color: $accent;
    border-radius: 1rem;
    transition: background-color 0.5s;
    &:hover {
        background-color: $secondaryBackground;
    }
}

.button-big {
    font-size: 2rem;
    padding: 20px 30px;
}

nav {
    text-align: center;
    background-color: $backgroundNavbar;
    list-style-type: none;
    padding: 1.5rem;
    ul {
        padding: 0;
        margin: 0;
    }
    li {
        display: inline;
        a {
            padding: 0.5rem 1rem;
            margin: 0.5rem;
            color: $textColor;
            text-decoration: none;
            font-size: 1.5rem;
            font-family: 'Lato', sans-serif;
            font-weight: 600;
            border-radius: 10px;
            transition: background-color 0.5s;
            &:hover {
                background-color: $secondaryBackground;
            }
        }
    }
}

footer {
    background-color: $backgroundFooter;
    padding: 1.5rem;
    p {
        text-align: center;
    }
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    max-width: 1000px;
    margin: 0 auto;
    h2 {
        font-size: 1.2rem;
        border-bottom: 2px double $accent;
        font-family: Arial, sans-serif;
    }
    ul {
        padding-left: 1rem;
    }
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
            color: #414141;
        }
    }
}

.two-col-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
}

.aside {
    padding-left: 2em;
    padding-right: 1em;
}

.article {
    overflow: auto;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    min-height: 20em;
}


.figure {
    display: inline-block;
    margin: 0;
    padding: 0.5em;
    img {
        max-width: 100%;
        border: #aaa;
    }
}

figure.right {
    float: right;
    margin-left: 1em;
}


.lucky {
    background-color: #BC8593;
    padding: 2rem;
    padding-bottom: 0;
    h1,
    p {
        color: $textColorDark;
    }
    p {
        font-size: 5em;
        text-align: center;
        font-family: 'Titan One', cursive;
        margin: 0;
        transform: rotate(-5deg);
    }
    img {
        width: 100%;
    }
}

.cardLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    text-align: center;
    a {
        text-decoration: none;
        color: $textColor;
        font-size: 2em;
        margin: 0.5em;
        padding: 0.6em;
        border-radius: 10px;
        &:hover{
            background-color: $secondaryBackground;
        }
    }
}

.container {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    text-align: center;
}

.container-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1em;
    text-align: center;
}

.blackjack-btns {
    a {
        margin-top: 0;
    }
}

.container-cards {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2em;
    .card {
        background-color: $textColor;
        color: $textColorDark;
        margin: 0.3em;
        display: inline-block;
        width: 90px;
        height: 130px;
        border-radius: 5px;
        box-shadow: 5px 5px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    h1 {
        align-items: center;
        border-bottom: none;
    }
    h2 {
        padding: 1em;
    }

    .api_link {
        background-color: $backgroundNavbar;
        text-decoration: none;
        color: $textColor;
        margin: 1em;
        display: inline-block;
        vertical-align: bottom;
        width: 300px;
        height: 300px;
        border-radius: 5px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        p {
            padding: 0.5em;
        }
        &:hover{
            box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            
        }
    }
    
}
