html {
    font-family: "Roboto", sans-serif;
    background-color: #212121;
    color: #ccc;
}

img {
    border-radius: 1rem;
}

body {
    margin: 0;
}

main {
    margin: 0 auto;
    margin-top: 2em;
    padding-bottom: 2em;
    max-width: 1200px;
    min-height: 400px;
}

.max800 {
    max-width: 800px;
    margin: 0 auto;
}

.max1000 {
    max-width: 1000px;
    margin: 0 auto;
}

.text-container {
    max-width: 65ch;
    margin: 0 auto;
    padding: 0 1em;
}

.center {
    text-align: center;
    margin: 0 auto;
    padding: 0 1em;
}

.container {
    margin: 0 auto;
    padding: 0 1em;
    text-align: center;
}
.container p,
.container h1,
.container h2,
.container h3 {
    text-align: left;
}

.container-doc h3 {
    text-align: center;
}

h1 {
    text-align: center;
    color: #ccc;
}

a {
    color: #aaa;
}

.button {
    margin: 0.5rem;
    font-weight: 600;
    font-size: 1.2rem;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #333;
    background-color: #9c82a1;
    border-radius: 1rem;
    transition: background-color 0.5s;
}
.button:hover {
    background-color: rgba(156, 130, 161, 0.6509803922);
}

.button-big {
    font-size: 2rem;
    padding: 20px 30px;
}

nav {
    text-align: center;
    background-color: #171717;
    list-style-type: none;
    padding: 1.5rem;
}
nav ul {
    padding: 0;
    margin: 0;
}
nav li {
    display: inline;
}
nav li a {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    color: #ccc;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    border-radius: 10px;
    transition: background-color 0.5s;
}
nav li a:hover {
    background-color: rgba(156, 130, 161, 0.6509803922);
}

footer {
    background-color: #171717;
    padding: 1.5rem;
}
footer p {
    text-align: center;
}

.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    max-width: 1000px;
    margin: 0 auto;
}
.footer-row h2 {
    font-size: 1.2rem;
    border-bottom: 2px double #9c82a1;
    font-family: Arial, sans-serif;
}
.footer-row ul {
    padding-left: 1rem;
}
.footer-row a {
    text-decoration: none;
}
.footer-row a:hover {
    text-decoration: underline;
    color: #414141;
}

.two-col-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1000px;
}
.two-col-layout .col {
    margin: 1rem;
}

@media (max-width: 800px) {
    .two-col-layout {
        flex-direction: column;
    }
}
.aside {
    padding-left: 2em;
    padding-right: 1em;
}

.article {
    overflow: auto;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    min-height: 20em;
}

.figure {
    display: inline-block;
    margin: 0;
    padding: 0.5em;
}
.figure img {
    max-width: 100%;
    border: #aaa;
}

figure.right {
    float: right;
    margin-left: 1em;
}

.lucky {
    background-color: #BC8593;
    padding: 2rem;
    padding-bottom: 0;
    border-radius: 3rem;
}
.lucky h1,
.lucky p {
    color: #333;
}
.lucky p {
    font-size: 5em;
    text-align: center;
    font-family: "Titan One", cursive;
    margin: 0;
    transform: rotate(-5deg);
}
.lucky img {
    width: 100%;
}

.blackjack-btns a {
    margin-top: 0;
}

.api_link {
    background-color: #171717;
    text-decoration: none;
    color: #ccc;
    margin: 1em;
    display: inline-block;
    vertical-align: bottom;
    width: 250px;
    height: 200px;
    border-radius: 2rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.api_link p {
    padding: 0 1rem;
}
.api_link:hover {
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-cards {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1rem;
}
.container-cards .card {
    background-color: #ccc;
    color: #333;
    margin: 0.3em;
    display: inline-block;
    width: 90px;
    height: 130px;
    border-radius: 5px;
    box-shadow: 5px 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container-cards h1 {
    align-items: center;
    border-bottom: none;
}/*# sourceMappingURL=report.css.map */