{% extends "base.html.twig" %}

{% block title %}Magic number{% endblock %}

{% block body %}


<div class="container">
    <h2>Cards remaining: {{ remainingCards }}</h2>
    {% for card in cards %}
    <div class="card">
        <p>{{ card }}</p>
    </div>
    {% endfor %}
    <a class="button" href="{{ path('drawNumber', {num: 1}) }}">Ta kort</a>
</div>


{% endblock %}