{% extends "base.html.twig" %}

{% block title %}Magic number{% endblock %}

{% block body %}
<h1>Card links</h1>

<div class="center">
    <a href="{{ path('deck') }}" class="button">Deck</a>
    <a href="{{ path('shuffle') }}" class="button">Shuffle</a>
    <a href="{{ path('draw') }}" class="button">Draw</a>
    <a href="{{ path('reset') }}" class="button">Reset</a>
</div>

<div class="container text-container">
        <h3>DeckOfCards</h3>
        <p>Klassen skapar en kortlek. Två arrayer används, en med kortens färg och en med värdet. Sen skapas alla kort med foreach loop. Shuffle funktionen blandar kortleken. </p>
        <h3>Cards</h3>
        <p>Klassen använder kortleken som skapades i DeckOfCards. Genom drawCards funktionen hämtas de översta korten ur kortleken med array_splice().  </p>
</div>

{% endblock %}