{% extends "base.html.twig" %}

{% block title %}Magic number{% endblock %}

{% block body %}

<h1>21</h1>

<div class="text-container">
    <p>Målet är att dra kort som tillsammans ger poängsumman 21 eller så nära som möjligt utan att överskrida 21</p>
    <p>En hand vars poäng överstiger 21 har spruckit, och förlorar omedelbart. Är spelarens poängsumma närmare 21 än bankens vinner spelaren</p>
    <p>Nummerkorten 2 – 10 har sitt vanliga värde. De klädda korten är alla värda 10. Ess är värt 1 eller 11 beroende på vad som passar spelaren bäst för tillfället.</p>

    <div class="center">
        <a href="{{ path('blackjack') }}" class="button button-big">Start Game</a>
    </div>

    <div class="center">
        <a href="{{ path('doc') }}" class="button">Doc</a>
    </div>

</div>

{% endblock %}