{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}

<article class="text-container">

    <div>
        <h1>Om Mig Själv</h1>
        <p>
            Mitt namn är Teodor Lien. Ursprungligen född i Oslo, men uppvuxen och bosatt i Ronneby.
        <p>
            På gymnasiet gick jag teknikprogrammet på knut hahn i Ronneby. Efter studenten gjorde jag lumpen som stridsfordon 90 förare/skytt.
        </p>
        <p>
            Mina intressen förutom datorn är gym och sport, främst fotboll och allsvenskan.
        </p>

    </div>

</article>

{% endblock %}