{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}

<article class="article max800">
    <figure class="figure right">
        <img src="img/me.jpg" width="150" alt="Bild på mig">
        <p>Teodor Lien</p>
    </figure>

    <div>
        <h1>Om Mig Själv</h1>
        <p>
            Mitt namn är Teodor Lien. Ursprungligen född i Oslo, men är uppvuxen och bosatt i Ronneby. 
        </p>
        <p>
            Jag har alltid haft ett datorintresse, så på gymnasiet gick jag teknikprogrammet på knut hahn i Ronneby. Efter studenten gjorde jag lumpen på Södra skånska regementet som stridsforfon 90 förare/skytt.
        </p>
        <p>
            Mina intressen förutom datorn är gym och sport, främst fotboll och allsvenskan.
        </p>

    </div>
    
</article>

{% endblock %}