{% extends "base.html.twig" %}

{% block title %}Magic number{% endblock %}

{% block body %}
<div class="lucky text-container">
    <h1>Lucky</h1>
    <p>This is your lucky number: {{ number }}</p>
    <img src="img/lucky.gif" alt="gif">
</div>
{% endblock %}