{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}

<article class="text-container">

    <div>
        <h1>Metrics analys</h1>

        <h2>Introduktion</h2>

        <p> Mitt namn är Teodor Lien. Ursprungligen född i Oslo, men uppvuxen och bosatt i Ronneby.
        </p>

        <h2>Phpmetrics</h2>

        <h2>Scrutinizer</h2>

        <a href="https://scrutinizer-ci.com/g/Teodor29/mvc-report/?branch=main">
            <img src="https://scrutinizer-ci.com/g/Teodor29/mvc-report/badges/quality-score.png?b=main" alt="Scrutinizer Code Quality">
        </a>

    </div>

</article>

{% endblock %}