{% extends 'base.html.twig' %}

{% block title %}Hello LibraryController!{% endblock %}

{% block body %}
<h1>Library</h1>
<div class="center">
    <div>
        <a class="button" href="{{ path('app_book_index') }}">
            Book List
        </a>
    </div>

    <div>
        <a class="button" href="{{ path('app_book_new') }}">
            Create New Book
        </a>
    </div>



</div>
{% endblock %}