{% extends 'base.html.twig' %}

{% block title %}Hello LibraryController!{% endblock %}

{% block body %}
<h1>Api links</h1>
<div class="max1000 center">

    <a class="api_link" href="{{ path('app_book_index') }}">

        <h2>Book</h2>
    
    </a>



</div>
{% endblock %}