{% extends "proj_base.html.twig" %}

{% block title %}Magic number{% endblock %}

{% block body %}

<h1>Blackjack</h1>

<div class="text-container blackjack">
    <p>Blackjack är ett kortspel där målet är att få en hand med ett totalt värde så nära 21 som möjligt, utan att gå över.</p>
    <p>Korten 2 till 10 har sitt vanliga värde. Knekt, dam och kung värda 10. Ess är värt 1 eller 11 beroende på vad som passar spelaren bäst för tillfället.</p>
    <p>Spelaren får två kort i början och kan därefter välja att dra ett kort (hit) eller stanna (stand). Dealern drar kort tills handen är minst 17. Den som är närmast 21 vinner. Om någon får över 21 blir det "bust" och handen förlorar automatiskt.</p>

    <form method="post" action="{{ path('proj_bet') }}">
        <label for="playerName">Namn</label>
        <input type="text" id="playerName" name="playerName" required>

        <label for="numberOfHands">Antal händer</label>
            <select class="number-of-hands" id="numberOfHands" name="numberOfHands" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>

        <button class="button button-big" type="submit">Starta spelet</button>
    </form>

</div>

{% endblock %}