{% extends "proj_base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
<div class="two-col-layout max800">
    <article class="text-container">
        <h1>Om blackjack</h1>
        <p>Detta är ett Blackjack-spel byggt i Symfony för kursen DV1608 Objektorienterade webbteknologier.
        </p>
        <p>För att börja spela fyller man först i sitt namn och väljer hur många händer man vill spela med (max 3). När man startar spelet får man ett saldo på 1000 kr. Därefter spelar man rundor mot dealern, och efter varje runda kan man fortsätta spela vidare med de pengar man har kvar. Om saldot tar slut kan man alltid börja om genom att starta ett nytt spel.</p>
        <div>
        </div>
    </article>
</div>
</div>
{% endblock %}