{% extends "proj_base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
<div class="two-col-layout max800">
    <article class="text-container">
        <h1>Om blackjack</h1>
        <p>Målet är att dra kort som tillsammans ger poängsumman 21 eller så nära som möjligt utan att överskrida 21</p>
        <p>En hand vars poäng överstiger 21 har spruckit, och förlorar omedelbart. Är spelarens poängsumma närmare 21 än dealern vinner spelaren</p>
        <p>Nummerkorten 2 – 10 har sitt vanliga värde. Knekt, dam och kung värda 10. Ess är värt 1 eller 11 beroende på vad som passar spelaren bäst för tillfället.</p>
        <div>
        </div>
    </article>
</div>
</div>
{% endblock %}